# Python Functions

In [6]:
x = 1
y = 2
x + y

3

In [7]:
x

1

In [8]:
def add_numbers(x, y):
    return x + y
add_numbers(1,2)

3

In [9]:
def add_numbers(x, y, z = None):
    if(z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [10]:
def add_numbers(a, b, kind = 'add'):
    if(kind == 'add'):
        return a + b
    else:
        return a - b
print(add_numbers(1,2))

3

# Types and Sequences

In [11]:
type('This is a string!')

str

In [12]:
type(None)

NoneType

In [13]:
type(1)

int

In [14]:
type(1.0)

float

In [15]:
type(add_numbers)

function

In [16]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [17]:
x =[1, 'a', 2, 'b']
type(x)

list

In [18]:
x.append(3)
x

[1, 'a', 2, 'b', 3]

In [20]:
for item in x:
    print(item)

1
a
2
b
3

In [21]:
i = 0
while i != len(x):
    print(x[i])
    i += 1

1
a
2
b
3

In [22]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [23]:
[1] * 3

[1, 1, 1]

In [24]:
1 in [1, 2, 3]

True

In [27]:
x = 'Artur Papa'
print(x[0])
print(x[0:1])
print(x[0:2])

A
A
Ar

In [34]:
print(x[-1])
print(x[-5:-1])

a
 Pap

In [35]:
print(x[:3])

Art

In [36]:
print(x[3:])

ur Papa

In [38]:
first = 'Messi'
last = 'GOAT'

print(first + ' ' + last)
print(first * 3)
print('Messi' in last)

Messi GOAT
MessiMessiMessi
False

In [39]:
first = 'Lionel Messi'.split(' ')[0]
last = 'Lionel Messi'.split(' ')[-1]
print(first)
print(last)

Lionel
Messi

In [44]:
x = {'Artur Papa': 'Data scientist', 'Naruto Uzumaki': 'Hokage'}
x['Artur Papa']

'Data scientist'

In [45]:
for name in x:
    print(x[name])

Data scientist
Hokage

In [46]:
for prof in x.values():
    print(prof)

Data scientist
Hokage

In [47]:
for name, prof in x.items():
    print(name)
    print(prof)

Artur Papa
Data scientist
Naruto Uzumaki
Hokage

In [48]:
x = ('Hashirama', 'Senju', 'Hokage')
fname, lname, profession = x

In [49]:
fname

'Hashirama'

In [50]:
lname

'Senju'

In [51]:
profession

'Hokage'