# Python Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [3]:
def add_numbers(x, y):
    return x + y
add_numbers(1,2)

3

In [4]:
def add_numbers(x, y, z = None):
    if(z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [5]:
def add_numbers(a, b, kind = 'add'):
    if(kind == 'add'):
        return a + b
    else:
        return a - b
print(add_numbers(1,2))

3

# Types and Sequences

In [6]:
type('This is a string!')

str

In [7]:
type(None)

NoneType

In [8]:
type(1)

int

In [9]:
type(1.0)

float

In [10]:
type(add_numbers)

function

In [11]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [12]:
x =[1, 'a', 2, 'b']
type(x)

list

In [13]:
x.append(3)
x

[1, 'a', 2, 'b', 3]

In [14]:
for item in x:
    print(item)

1
a
2
b
3

In [15]:
i = 0
while i != len(x):
    print(x[i])
    i += 1

1
a
2
b
3

In [16]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [17]:
[1] * 3

[1, 1, 1]

In [18]:
1 in [1, 2, 3]

True

In [19]:
x = 'Artur Papa'
print(x[0])
print(x[0:1])
print(x[0:2])

A
A
Ar

In [20]:
print(x[-1])
print(x[-5:-1])

a
 Pap

In [21]:
print(x[:3])

Art

In [22]:
print(x[3:])

ur Papa

In [23]:
first = 'Messi'
last = 'GOAT'

print(first + ' ' + last)
print(first * 3)
print('Messi' in last)

Messi GOAT
MessiMessiMessi
False

In [24]:
first = 'Lionel Messi'.split(' ')[0]
last = 'Lionel Messi'.split(' ')[-1]
print(first)
print(last)

Lionel
Messi

In [25]:
x = {'Artur Papa': 'Data scientist', 'Naruto Uzumaki': 'Hokage'}
x['Artur Papa']

'Data scientist'

In [26]:
for name in x:
    print(x[name])

Data scientist
Hokage

In [27]:
for prof in x.values():
    print(prof)

Data scientist
Hokage

In [28]:
for name, prof in x.items():
    print(name)
    print(prof)

Artur Papa
Data scientist
Naruto Uzumaki
Hokage

In [29]:
x = ('Hashirama', 'Senju', 'Hokage')
fname, lname, profession = x

In [30]:
fname

'Hashirama'

In [31]:
lname

'Senju'

In [32]:
profession

'Hokage'

# More Strings

In [33]:
print('Artur' + 2)

TypeError: can only concatenate str (not "int") to str

In [34]:
print('Artur' + str(2))

Artur2

In [38]:
sales_record = {
    'price': 3.50,
    'num_items': 4,
    'person': 'Artur'
    }
sales_statement = "{} bought {} item(s) at a price of {} each for a total of {}"

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['price']*sales_record['num_items']))

Artur bought 4 item(s) at a price of 3.5 each for a total of 14.0